{%extends 'base.html'%}
{{% load crispy_forms_tags %}
{%load static%}
{% block content %}
{{block.super}}

<div class="container mt-5" >
    <div class="row">
        <div class="col md-12">    
            <div class="jumbotron p-5"> 
                <div style="display: flex; justify-content: space-between;">
                    <h2>Manage <b>Members </b></h2> 
                    <button type="button"  class="btn btn-warning"
                    data-toggle="modal" data-target="#mymodal">Add Member</button> 
                </div>

                <table class="table table-hover table-dark">    
                    <tr>
                        <th>Profile Picture</th>
                        <th>Full name</th>
                        <th>Phone number</th>
                        <th>Location</th>
                        <th>Date joined</th>
                        <th>Admin</th>
                        <th>Action</th>
                    </tr>    

                    {% for row in members %}
                    <tr>
                        <td><img src="{{row.profile_pic.url}}" alt="" width="200px"></td>
                        <td>{{row.fullname}}</td> 
                        <td>{{row.phone_number}}</td>
                        <td>{{row.hood}}</td>
                        <td>{{row.date_joined}}</td>
                        <td>{{row.admin}}</td>
                        <td>
                            <a href="/updatecategory/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="#" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>  
                        </td>    
                    </tr>    

                    <!-- Modal Edit Customer-->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">   
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" enctype="multipart/form-data" name="update">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="name" value="{{row.member_id}}">
                                            <input type="text" class="form-control" name="amount" value="{{row.amount}}">
                                            <input type="submit" class="btn bg-warning">
                                        </div>                                            
                                    </form>   
                                </div>   
                        
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>   
                        </div>    
                    </div>
                    
                    {% endfor %}   
                </table>
            </div>

<!-- Modal Add User Contributions-->   

<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">    
                <h4 class="modal-title">Add savings</h4>
            </div>
            <div class="modal-body">    
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn bg-warning">
                    
                </form>
            </div>
        <div class="modal-footer">   
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
        </div>   

        </div>
    </div>   

</div>
</div>

</div>

</div>

{% endblock %}